<header class="position-relative h-100 z-1">


	<!-- desktop menu -->
	<nav class="position-relative overflow-auto d-none d-lg-block dark-mode-3">
		<!-- left menu bar -->
		<div id="desktopLeftMenuBar" class="position-fixed h-100 w-88 pt-18 pb-16 bg-gray-2 d-flex flex-column align-items-center justify-content-between gap-14 h-100 z-1046">
			<div>
				<div class="d-flex justify-content-center mb-24">
					<a class="btn btn-menu btn-focusable align-self-center text-decoration-none d-flex align-items-center justify-content-center w-56 h-56 bg-light-pink rounded-3" href="/search.html"><span class="google-symbols">search</span></a>
				</div>

				<ul class="list-unstyled d-flex flex-column align-items-center gap-12">
					<li><a class="btn btn-menu btn-focusable-border text-decoration-none p-0 w-80 min-h-60 d-flex flex-column align-items-center active" href="/" tabindex="0">
						<span class="btn-menu__box d-flex align-items-center justify-content-center w-56 rounded-pill mb-4 h-32">
							<span class="d-block w-24 h-24 fs-21">
								<span class="btn__icon google-symbols">material_design</span>
							</span>
						</span>
						<span class="btn__text d-block fs-12 fw-normal lh-16 text-center">Home</span>
					</a></li>
					<li><a class="btn btn-menu btn-focusable-border text-decoration-none p-0 w-80 min-h-60 d-flex flex-column align-items-center" href="/" tabindex="-1">
						<span class="btn-menu__box d-flex align-items-center justify-content-center w-56 rounded-pill mb-4 h-32" >
							<span class="d-block w-24 h-24 fs-21">
								<span class="btn__icon google-symbols">apps</span>
							</span>
						</span>
						<span class="btn__text d-block fs-12 fw-medium lh-16 text-center tracking-wider">Get started</span>
					</a></li>
					<li><a class="btn btn-menu btn-focusable-border text-decoration-none p-0 w-80 min-h-60 d-flex flex-column align-items-center" href="/" data-menu-list="develop" tabindex="-1">
						<span class="btn-menu__box d-flex align-items-center justify-content-center w-56 rounded-pill mb-4 h-32">
							<span class="d-block w-24 h-24 fs-22">
								<span class="btn__icon google-symbols">code</span>
							</span>
						</span>
						<span class="btn__text d-block fs-12 fw-medium lh-16 text-center">Develop</span>
					</a></li>
					<li><a class="btn btn-menu btn-focusable-border text-decoration-none p-0 w-80 min-h-60 d-flex flex-column align-items-center" href="/" data-menu-list="foundations" tabindex="-1">
						<span class="btn-menu__box d-flex align-items-center justify-content-center w-56 rounded-pill mb-4 h-32">
							<span class="d-block w-24 h-24 fs-22">
								<span class="btn__icon google-symbols">book</span>
							</span>
						</span>
						<span class="btn__text d-block fs-12 fw-medium lh-16 text-center">Foundations</span>
					</a></li>
					<li><a class="btn btn-menu btn-focusable-border text-decoration-none p-0 w-80 min-h-60 d-flex flex-column align-items-center" href="/" data-menu-list="styles" tabindex="-1">
						<span class="btn-menu__box d-flex align-items-center justify-content-center w-56 rounded-pill mb-4 h-32">
							<span class="d-block w-24 h-24 fs-22">
								<span class="btn__icon google-symbols">palette</span>
							</span>
						</span>
						<span class="btn__text d-block fs-12 fw-medium lh-16 text-center">Styles</span>
					</a></li>
					<li><a class="btn btn-menu btn-focusable-border text-decoration-none p-0 w-80 min-h-60 d-flex flex-column align-items-center" href="/" data-menu-list="components" tabindex="-1">
						<span class="btn-menu__box d-flex align-items-center justify-content-center w-56 rounded-pill mb-4 h-32">
							<span class="d-block w-24 h-24 fs-22">
								<span class="btn__icon google-symbols">add_circle</span>
							</span>
						</span>
						<span class="btn__text d-block fs-12 fw-medium lh-16 text-center">Components</span>
					</a></li>
					<li><a class="btn btn-menu btn-focusable-border text-decoration-none p-0 w-80 min-h-60 d-flex flex-column align-items-center" href="/" tabindex="-1">
						<span class="btn-menu__box d-flex align-items-center justify-content-center w-56 rounded-pill mb-4 h-32">
							<span class="d-block w-24 h-24 fs-22">
								<span class="btn__icon google-symbols">pages</span>
							</span>
						</span>
						<span class="btn__text d-block fs-12 fw-medium lh-16 text-center">Blog</span>
					</a></li>
				</ul>

			</div>
			<div >

				<label class="btn btn-mode btn-focusable w-48 h-48 special" for="btn-check-mode2" tabindex="0">
					<input type="checkbox" class="btn-check" id="btn-check-mode2" autocomplete="off" onclick="toggleThemeMode()">
					<div class="btn-mode__container">
						<div class="btn-mode__light w-24 h-24 d-flex align-items-center justify-content-center mb-24">
							<span class="btn__icon align-text-bottom google-symbols">dark_mode</span>
						</div>
						<div class="btn-mode__dark  w-24 h-24 d-flex align-items-center justify-content-center">
							<span class="btn__icon align-text-bottom google-symbols">light_mode</span>
						</div>
					</div>
				</label>

			</div>
		</div>

		<!-- offcanvas -->
		<div class="offcanvas offcanvas-start bg-color3 ps-88 pt-8 w-320 rounded-end-3 dark-mode-3" tabindex="-1" data-bs-backdrop="false" id="offcanvasNavbarDesktop" aria-labelledby="offcanvasNavbarLabel">

			<div class="offcanvas-body p-0 px-8 d-flex flex-column justify-content-between">
				<div id="navMenuListContainer" class="position-relative h-100">

					<!-- DEVELOP -->
					<ul id="navMenuList-develop" class="list-unstyled w-100 pb-24">
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14 active">Develop overview</a></li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAndroid" aria-expanded="false" aria-controls="flush-collapseAndroid">Android</button>
									</h2>
									<div id="flush-collapseAndroid" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">MDC-Android</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">Jetpack Compose</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">Flutter</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">Web</a></li>
					</ul>

					<!-- FOUNDATIONS -->
					<ul id="navMenuList-foundations" class="list-unstyled w-100 pb-24">
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">foundations overview</a></li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAccessibility" aria-expanded="false" aria-controls="flush-collapseAccessibility">Accessibility</button>
									</h2>
									<div id="flush-collapseAccessibility" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">overview</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">designing</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">writing and text</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseContentDesign" aria-expanded="false" aria-controls="flush-collapseContentDesign">content design</button>
									</h2>
									<div id="flush-collapseContentDesign" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">overview</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">alt text</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">global writing</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">style guide</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">customizing material</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">design tokens</a></li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseInteraction" aria-expanded="false" aria-controls="flush-collapseInteraction">interaction</button>
									</h2>
									<div id="flush-collapseInteraction" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">gestures</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">inputs</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">selection</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">states</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseLayout" aria-expanded="false" aria-controls="flush-collapseLayout">layout</button>
									</h2>
									<div id="flush-collapseLayout" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">layout basics</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">applying layout</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">canoncial layouts</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">Material A-Z</a></li>
					</ul>

					<!-- STYLES -->
					<ul id="navMenuList-styles" class="list-unstyled w-100 pb-24">
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">styles overview</a></li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseColor" aria-expanded="false" aria-controls="flush-collapseColor">color</button>
									</h2>
									<div id="flush-collapseColor" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">color system</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">color roles</a></li>
												<li>
													<ul class="list-unstyled accordion accordion-flush w-100">
														<li class="accordion-item w-100">
															<h2 class="accordion-header">
															<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseColorSchemes" aria-expanded="false" aria-controls="flush-collapseColorSchemes">color schemes</button>
															</h2>
															<div id="flush-collapseColorSchemes" class="accordion-collapse collapse">
																<div class="accordion-body py-2 pe-0 px-12">
																	<ul class="list-unstyled w-100">
																		<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">choosing a scheme</a></li>
																		<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">static</a></li>
																		<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">dynamic</a></li>
																	</ul>
																</div>
															</div>
														</li>
													</ul>
												</li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">advanced</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">color resources</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">elevation</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">icons</a></li>

						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseMotion" aria-expanded="false" aria-controls="flush-collapseMotion">motion</button>
									</h2>
									<div id="flush-collapseMotion" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">overview</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">easing and duration</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">transitions</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">shape</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">typography</a></li>

					</ul>


					<!-- COMPONENTS -->
					<ul id="navMenuList-components" class="list-unstyled w-100 pb-24">
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">components overview</a></li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAppBar" aria-expanded="false" aria-controls="flush-collapseAppBar">app bar</button>
									</h2>
									<div id="flush-collapseAppBar" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">bottom app bar</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">top app bar</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">badges</a></li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseButtons" aria-expanded="false" aria-controls="flush-collapseButtons">buttons</button>
									</h2>
									<div id="flush-collapseButtons" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">all buttons</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">common buttons</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">FAB</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">extended fab</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">icon buttons</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">segmented buttons</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">cards</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">carousel</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">checkbox</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">chips</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">date picker</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">dialogs</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">divider</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">lists</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">menus</a></li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNavigataion" aria-expanded="false" aria-controls="flush-collapseNavigataion">navigation</button>
									</h2>
									<div id="flush-collapseNavigataion" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">navigation bar</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">navigation drawer</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">navigation rail</a></li>

											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">progress indicators</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">radio button</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">search</a></li>
						<li>
							<ul class="list-unstyled accordion accordion-flush w-100">
								<li class="accordion-item w-100">
									<h2 class="accordion-header">
									<button class="accordion-button collapsed w-100 btn btn-menu-mobile shadow-none fs-14" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSheets" aria-expanded="false" aria-controls="flush-collapseSheets">sheets</button>
									</h2>
									<div id="flush-collapseSheets" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 px-12">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">bottom sheets</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile fs-14">side sheets</a></li>

											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>

						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">sliders</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">snackbar</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">switch</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">tabs</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">text fields</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">time pickers</a></li>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile fs-14">tooltips</a></li>


					</ul>


				</div>
			</div>
		</div>

	</nav>



	<!-- mobile menu -->
	<nav class="d-block d-lg-none navbar fixed-top h-100 bg-white h-64 z-1 px-4 py-4 px-md-12 py-md-8 dark-mode-4" id="collapseDevelop">
		<!-- top header -->
		<div class="container-fluid p-0">
			<div class="d-flex align-items-center">
				<button id="btnMenuMobile" class="btn btn-menu-round w-48 h-48" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
					<span class="btn__icon align-text-bottom google-symbols">menu</span>
				</button>
				<a class="btn btn-menu-round btn-menu-round-bright d-flex gap-16 align-items-center h-40" href="/">
					<div class="h-22 w-22">
						<span class="btn__icon google-symbols fs-22">material_design</span>
					</div>
					<div class="btn__text d-none d-md-block fs-16 fw-medium">Material Design 3</div>
				</a>
			</div>

			<div>
				<button class="btn btn-menu-round w-48 h-48 d-flex align-items-center" type="button"><span class="btn__icon google-symbols">search</span></button>
			</div>

		</div>

		<!-- offcanvas -->
		<div class="offcanvas offcanvas-start bg-color3 pt-8 w-320 rounded-end-3 dark-mode-3" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
			<div class="offcanvas-header p-0 px-12">
				<!-- <button type="button" class="btn btn-menu-round m-0 p-0 mb-8 h-48 w-48 d-flex align-items-center justify-content-center" data-bs-dismiss="offcanvas" aria-label="Close">
					<span class="btn__icon google-symbols btn-icon ng-star-inserted">menu_open</span>
				</button> -->
			</div>
			<div class="offcanvas-body p-0  d-flex flex-column justify-content-between">
				<div class="position-relative h-100">
					<ul class="list-unstyled px-8">
						<button type="button" class="btn btn-menu-round m-0 p-0 mb-8 ms-4 h-48 w-48 d-flex align-items-center justify-content-center" data-bs-dismiss="offcanvas" aria-label="Close">
							<span class="btn__icon google-symbols btn-icon ng-star-inserted">menu_open</span>
						</button>
						<li><a href="/" class="text-decoration-none btn btn-menu-mobile active">
							<span class="d-block w-24 h-24">
								<span class="btn__icon google-symbols">material_design</span>
							</span>
							<div class="btn__text">Home</div>
						</a></li>
						<li>
							<a href="/" class="text-decoration-none btn btn-menu-mobile">
								<span class="d-block w-24 h-24">
									<span class="btn__icon google-symbols">apps</span>
								</span>
								<div class="btn__text">Get started</div>
							</a>
						</li>

						<li>
							<a class="text-decoration-none btn btn-menu-mobile" data-bs-toggle="collapse" href="#collapseDevelopMenuMobile" role="button" aria-expanded="false" aria-controls="collapseDevelopMenuMobile">
								<span class="d-block w-24 h-24">
									<span class="btn__icon google-symbols">code</span>
								</span>
								<div class="btn__text">Develop</div>
								<span class="btn__icon arrow-right-icon google-symbols ms-auto">arrow_forward</span>
							</a>
						</li>
						<li>
							<a class="text-decoration-none btn btn-menu-mobile" data-bs-toggle="collapse" href="#collapseFoundationsMenuMobile" role="button" aria-expanded="false" aria-controls="collapseFoundationsMenuMobile">
								<span class="d-block w-24 h-24">
									<span class="btn__icon google-symbols">book</span>
								</span>
								<div class="btn__text">Foundations</div>
								<span class="btn__icon arrow-right-icon google-symbols ms-auto">arrow_forward</span>
							</a>
						</li>
						<li>
							<a class="text-decoration-none btn btn-menu-mobile" data-bs-toggle="collapse" href="#collapseStylesMenuMobile" role="button" aria-expanded="false" aria-controls="collapseStylesMenuMobile">
								<span class="d-block w-24 h-24">
									<span class="btn__icon google-symbols">palette</span>
								</span>
								<div class="btn__text">Styles</div>
								<span class="btn__icon arrow-right-icon google-symbols ms-auto">arrow_forward</span>
							</a>
						</li>
						<li>
							<a class="text-decoration-none btn btn-menu-mobile" data-bs-toggle="collapse" href="#collapseComponentsMenuMobile" role="button" aria-expanded="false" aria-controls="collapseComponentsMenuMobile">
								<span class="d-block w-24 h-24">
									<span class="btn__icon google-symbols">add_circle</span>
								</span>
								<div class="btn__text">Components</div>
								<span class="btn__icon arrow-right-icon google-symbols ms-auto">arrow_forward</span>
							</a>
						</li>
						<li>
							<a href="/" class="text-decoration-none btn btn-menu-mobile">
								<span class="d-block w-24 h-24">
									<span class="btn__icon google-symbols">pages</span>
								</span>
								<div class="btn__text">Blog</div>
							</a>
						</li>
					</ul>

					<!-- collapse submenu -> develop -->
					<div class="collapse-wrapper collapse collapse-horizontal position-absolute bg-color3 overflow-auto top-0 bottom-0 start-0 end-0 w-100 dark-mode-3 px-8" id="collapseDevelopMenuMobile">
						<button type="button" class="btn btn-menu-round m-0 p-0 mb-8 ms-4 h-48 w-48 d-flex align-items-center justify-content-center" data-bs-dismiss="offcanvas" aria-label="Close">
							<span class="btn__icon google-symbols btn-icon ng-star-inserted">menu_open</span>
						</button>
						<a class="text-decoration-none btn btn-menu-mobile px-16" data-bs-toggle="collapse" href="#collapseDevelopMenuMobile" role="button" aria-expanded="false" aria-controls="collapseDevelopMenuMobile">
							<span class="d-block w-24 h-24">
								<div class="btn__icon arrow-back-icon google-symbols">arrow_back</div>
							</span>
							<div class="btn__text">Main menu</div>
						</a>
						<ul class="list-unstyled w-100 px-10 ps-42">

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Develop overview</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDevelopOverview1" aria-expanded="false" aria-controls="flush-collapseDevelopOverview1">Android</button>
										</h2>
										<div id="flush-collapseDevelopOverview1" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">MDC-Android</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Jetpack Compose</a></li>
											</ul>
										</div>
										</div>
									</li>

								</ul>
							</li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Flutter</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Web</a></li>
						</ul>
					</div>

					<!-- collapse submenu -> foundations -->
					<div class="collapse-wrapper collapse collapse-horizontal position-absolute bg-color3 overflow-auto top-0 bottom-0 start-0 end-0 w-100 dark-mode-3 px-8" id="collapseFoundationsMenuMobile">
						<button type="button" class="btn btn-menu-round m-0 p-0 mb-8 ms-4 h-48 w-48 d-flex align-items-center justify-content-center" data-bs-dismiss="offcanvas" aria-label="Close">
							<span class="btn__icon google-symbols btn-icon ng-star-inserted">menu_open</span>
						</button>
						<a class="text-decoration-none btn btn-menu-mobile px-16" data-bs-toggle="collapse" href="#collapseFoundationsMenuMobile" role="button" aria-expanded="false" aria-controls="collapseFoundationsMenuMobile">
							<span class="d-block w-24 h-24">
								<div class="btn__icon arrow-back-icon google-symbols">arrow_back</div>
							</span>
							<div class="btn__text">Main menu</div>
						</a>
						<ul class="list-unstyled w-100 px-10 ps-42">

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Foundations overview</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFoundationsAccessibility" aria-expanded="false" aria-controls="flush-collapseFoundationsAccessibility">Accessibility</button>
										</h2>
										<div id="flush-collapseFoundationsAccessibility" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Overview</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Designing</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Writing and text</a></li>
											</ul>
										</div>
										</div>
									</li>

								</ul>
							</li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFoundationsContentDesign" aria-expanded="false" aria-controls="flush-collapseFoundationsContentDesign">Content design</button>
										</h2>
										<div id="flush-collapseFoundationsContentDesign" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Overview</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Alt text</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Global writing</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Style guide</a></li>
											</ul>
										</div>
										</div>
									</li>

								</ul>
							</li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Customizing Material</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Design tokens</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFoundationsInteraction" aria-expanded="false" aria-controls="flush-collapseFoundationsInteraction">Interaction</button>
										</h2>
										<div id="flush-collapseFoundationsInteraction" class="accordion-collapse collapse">
											<div class="accordion-body py-2 pe-0 ps-11">
												<ul class="list-unstyled w-100">
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Gestures</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Inputs</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Selection</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">States</a></li>
												</ul>
											</div>
										</div>
									</li>

								</ul>
							</li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFoundationsLayout" aria-expanded="false" aria-controls="flush-collapseFoundationsLayout">Layout</button>
										</h2>
										<div id="flush-collapseFoundationsLayout" class="accordion-collapse collapse">
											<div class="accordion-body py-2 pe-0 ps-11">
												<ul class="list-unstyled w-100">
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Layout basics</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Applying layout</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Canoncial layouts</a></li>
												</ul>
											</div>
										</div>
									</li>

								</ul>
							</li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Material A-Z</a></li>
						</ul>
					</div>

					<!-- collapse submenu -> styles -->
					<div class="collapse-wrapper collapse collapse-horizontal position-absolute bg-color3 overflow-auto top-0 bottom-0 start-0 end-0 w-100 dark-mode-3 px-8" id="collapseStylesMenuMobile">
						<button type="button" class="btn btn-menu-round m-0 p-0 mb-8 ms-4 h-48 w-48 d-flex align-items-center justify-content-center" data-bs-dismiss="offcanvas" aria-label="Close">
							<span class="btn__icon google-symbols btn-icon ng-star-inserted">menu_open</span>
						</button>
						<a class="text-decoration-none btn btn-menu-mobile px-16" data-bs-toggle="collapse" href="#collapseStylesMenuMobile" role="button" aria-expanded="false" aria-controls="collapseStylesMenuMobile">
							<span class="d-block w-24 h-24">
								<div class="btn__icon arrow-back-icon google-symbols">arrow_back</div>
							</span>
							<div class="btn__text">Main menu</div>
						</a>
						<ul class="list-unstyled w-100 px-10 ps-42">

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Styles overview</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseStylesColor" aria-expanded="false" aria-controls="flush-collapseStylesColor">Color</button>
										</h2>
										<div id="flush-collapseStylesColor" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Color system</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Color roles</a></li>
												<li>
													<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

														<li class="accordion-item w-100">
															<h2 class="accordion-header">
																<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseStylesColorSchemes" aria-expanded="false" aria-controls="flush-collapseStylesColorSchemes">Color schemes</button>
															</h2>
															<div id="flush-collapseStylesColorSchemes" class="accordion-collapse collapse">
															<div class="accordion-body py-2 pe-0 ps-11">
																<ul class="list-unstyled w-100">
																	<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Choosing a scheme</a></li>
																	<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Color roles</a></li>
																	<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Static</a></li>
																	<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Dynamic</a></li>
																</ul>
															</div>
															</div>
														</li>

													</ul>
												</li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Advanced</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Color resources</a></li>
											</ul>
										</div>
										</div>
									</li>

								</ul>
							</li>

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Elevation</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Icons</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseStylesMotion" aria-expanded="false" aria-controls="flush-collapseStylesMotion">Motion</button>
										</h2>
										<div id="flush-collapseStylesMotion" class="accordion-collapse collapse">
											<div class="accordion-body py-2 pe-0 ps-11">
												<ul class="list-unstyled w-100">
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Overview</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Easing and duration</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Transitions</a></li>
												</ul>
											</div>
										</div>
									</li>

								</ul>
							</li>

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Shape</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Typography</a></li>
						</ul>
					</div>

					<!-- collapse submenu -> components -->
					<div class="collapse-wrapper collapse collapse-horizontal position-absolute bg-color3 overflow-auto top-0 bottom-0 start-0 end-0 w-100 dark-mode-3 px-8" id="collapseStylesMenuMobile">
						<button type="button" class="btn btn-menu-round m-0 p-0 mb-8 ms-4 h-48 w-48 d-flex align-items-center justify-content-center" data-bs-dismiss="offcanvas" aria-label="Close">
							<span class="btn__icon google-symbols btn-icon ng-star-inserted">menu_open</span>
						</button>
						<a class="text-decoration-none btn btn-menu-mobile px-16" data-bs-toggle="collapse" href="#collapseStylesMenuMobile" role="button" aria-expanded="false" aria-controls="collapseStylesMenuMobile">
							<span class="d-block w-24 h-24">
								<div class="btn__icon arrow-back-icon google-symbols">arrow_back</div>
							</span>
							<div class="btn__text">Main menu</div>
						</a>
						<ul class="list-unstyled w-100 px-10 ps-42">

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Styles overview</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseStylesColor" aria-expanded="false" aria-controls="flush-collapseStylesColor">Color</button>
										</h2>
										<div id="flush-collapseStylesColor" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Color system</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Color roles</a></li>
												<li>
													<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

														<li class="accordion-item w-100">
															<h2 class="accordion-header">
																<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseStylesColorSchemes" aria-expanded="false" aria-controls="flush-collapseStylesColorSchemes">Color schemes</button>
															</h2>
															<div id="flush-collapseStylesColorSchemes" class="accordion-collapse collapse">
															<div class="accordion-body py-2 pe-0 ps-11">
																<ul class="list-unstyled w-100">
																	<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Choosing a scheme</a></li>
																	<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Color roles</a></li>
																	<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Static</a></li>
																	<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Dynamic</a></li>
																</ul>
															</div>
															</div>
														</li>

													</ul>
												</li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Advanced</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Color resources</a></li>
											</ul>
										</div>
										</div>
									</li>

								</ul>
							</li>

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Elevation</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Icons</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseStylesMotion" aria-expanded="false" aria-controls="flush-collapseStylesMotion">Motion</button>
										</h2>
										<div id="flush-collapseStylesMotion" class="accordion-collapse collapse">
											<div class="accordion-body py-2 pe-0 ps-11">
												<ul class="list-unstyled w-100">
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Overview</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Easing and duration</a></li>
													<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Transitions</a></li>
												</ul>
											</div>
										</div>
									</li>

								</ul>
							</li>

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Shape</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Typography</a></li>
						</ul>
					</div>

					<!-- collapse submenu -> components -->
					<div class="collapse-wrapper collapse collapse-horizontal position-absolute bg-color3 overflow-auto top-0 bottom-0 start-0 end-0 w-100 dark-mode-3 px-8" id="collapseComponentsMenuMobile">
						<button type="button" class="btn btn-menu-round m-0 p-0 mb-8 ms-4 h-48 w-48 d-flex align-items-center justify-content-center" data-bs-dismiss="offcanvas" aria-label="Close">
							<span class="btn__icon google-symbols btn-icon ng-star-inserted">menu_open</span>
						</button>
						<a class="text-decoration-none btn btn-menu-mobile px-16" data-bs-toggle="collapse" href="#collapseComponentsMenuMobile" role="button" aria-expanded="false" aria-controls="collapseComponentsMenuMobile">
							<span class="d-block w-24 h-24">
								<div class="btn__icon arrow-back-icon google-symbols">arrow_back</div>
							</span>
							<div class="btn__text">Main menu</div>
						</a>
						<ul class="list-unstyled w-100 px-10 ps-42">

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Components overview</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">

									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseComponentsAppbars" aria-expanded="false" aria-controls="flush-collapseComponentsAppbars">App bars</button>
										</h2>
										<div id="flush-collapseComponentsAppbars" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Bottom app bar</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Top app bar</a></li>
											</ul>
										</div>
										</div>
									</li>

								</ul>
							</li>

							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Badges</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">
									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseComponentsButtons" aria-expanded="false" aria-controls="flush-collapseComponentsButtons">Buttons</button>
										</h2>
										<div id="flush-collapseComponentsButtons" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">All buttons</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Common buttons</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">FAB</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Extended fab</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Icon buttons</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Segmented buttons</a></li>
											</ul>
										</div>
										</div>
									</li>
								</ul>
							</li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Cards</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Carousel</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Checkbox</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Chips</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Date pickers</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Dialogs</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Divider</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Lists</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Menus</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">
									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseComponentsNavigation" aria-expanded="false" aria-controls="flush-collapseComponentsNavigation">Navigation</button>
										</h2>
										<div id="flush-collapseComponentsNavigation" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Navigation bar</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Navigation drawer</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Navigation rail</a></li>
											</ul>
										</div>
										</div>
									</li>

								</ul>
							</li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Progress indicators</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Radio button</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Search</a></li>
							<li>
								<ul class="list-unstyled accordion accordion-flush w-100 ps-1">
									<li class="accordion-item w-100">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed w-100 btn-menu-mobile shadow-none pe-19" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseComponentsNavigation" aria-expanded="false" aria-controls="flush-collapseComponentsNavigation">Sheets</button>
										</h2>
										<div id="flush-collapseComponentsNavigation" class="accordion-collapse collapse">
										<div class="accordion-body py-2 pe-0 ps-11">
											<ul class="list-unstyled w-100">
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Bottom sheets</a></li>
												<li><a href="#" class="text-decoration-none btn btn-menu-mobile">Side sheets</a></li>
											</ul>
										</div>
										</div>
									</li>
								</ul>
							</li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Sliders</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Snackbar</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Switch</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Tabs</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Text fields</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Time pickers</a></li>
							<li><a href="/" class="text-decoration-none btn btn-menu-mobile">Tooltips</a></li>
						</ul>
					</div>

				</div>


				<!-- MODE SWITCHER -->
				<div class="d-flex align-items-center justify-content-center h-84 z-3">
					<!-- <div class="position-fixed bottom-0 h-80 z-3"> -->
						<label class="btn btn-mode h-48 px-16 py-12" for="btn-check-mode1">
							<input type="checkbox" class="btn-check" id="btn-check-mode1" autocomplete="off" onclick="toggleThemeMode()">
						<div class="btn-mode__container btn-mode__fast">
							<div class="btn-mode__light d-flex align-items-center justify-content-center mb-24">
								<span class="btn__icon align-text-bottom google-symbols me-8">dark_mode</span>
								<span class="fs-16 font-google-text"> Switch to dark mode </span>
							</div>
							<div class="btn-mode__dark d-flex align-items-center justify-content-center">
								<span class="btn__icon align-text-bottom google-symbols me-8">light_mode</span>
								<span class="fs-16 font-google-text"> Switch to light mode </span>
							</div>
						</div>

					</label>
				<!-- </div> -->



			</div>
		</div>


	</nav>


</header>
